/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 12, 79, 1) 37%,
    rgba(17, 17, 98, 1) 69%,
    rgba(28, 94, 107, 1) 100%
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
